
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 85% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262 80% 50%;
    --radius: 0.5rem;
    --chart-1: 255 70% 50%;
    --chart-2: 265 60% 45%;
    --chart-3: 245 80% 55%;
    --chart-4: 250 65% 60%;
    --chart-5: 270 75% 55%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 85% 85%;
    --primary-foreground: 0 0% 9%;
    --secondary: 240 4% 14%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 4% 14%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 18%;
    --input: 240 3.7% 15.9%;
    --ring: 262 80% 68%;
    --chart-1: 255 70% 50%;
    --chart-2: 265 60% 45%;
    --chart-3: 245 80% 55%;
    --chart-4: 250 65% 60%;
    --chart-5: 270 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.developer-badge {
    @apply inline-block rounded-full px-2 py-0.5 text-xs font-bold text-primary-foreground ml-2;
    background-image: linear-gradient(
        -45deg,
        hsl(var(--primary)),
        hsl(var(--ring)),
        hsl(var(--primary))
    );
    background-size: 300% 300%;
    animation: gradient-animation 4s linear infinite;
}

.moderator-badge {
    @apply inline-block rounded-full px-2 py-0.5 text-xs font-bold text-primary-foreground ml-2 bg-purple-600;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    